#moredetails {
  text-align: right;
  margin: 10px;
  font-size: small;
  font-style: italic;
}

hr {
  margin: 5px;
}

.force {
  fill: white;
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 0.8;
}

.node {
  fill: #0fb74b;
  stroke: black;
  stroke-width: 1px;
}

.node:hover {
  stroke-width: 2px;
  cursor: crosshair;
}

.link {
  stroke: #413c3c;
}
