<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Block Chain Explorer</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <label for="blockSearch">Search:</label>
                    <input ng-model="search" placeholder="Hash, height or index" id="blockSearch">
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row" ng-repeat="blockRows in blockCtrl.splitBlocks">
        <div class="col-md-2" ng-repeat="block in blockRows">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Height</strong>: {{block.height}}</h3>
                </div>
                <div class="panel-body">
                    <strong>Bits</strong>: {{block.bits}}
                </div>
            </div>
        </div>
    </div>
</div>