<div class="container">
    <div class="row" ng-repeat="blockRows in blockListCtrl.splitBlocks">
        <div class="col-md-2" ng-repeat="block in blockRows">
            <a href="#/blocks/{{block.height}}" class="thumbnail" style="color:black">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Block: {{block.height}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Transactions: {{block.tx.length}}</td>
                        </tr>
                        <tr>
                            <td>
                                <small><em>click for more details...</em></small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </div>
    </div>
    <button type="button" class="btn btn-default" ng-click="blockCtrl.loadPrevious()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous 10
    </button>
</div>