<div class="container">
    <div class="row" ng-repeat="blockRows in blockListCtrl.splitBlocks">
        <div class="col-lg-2 col-sm-4" ng-repeat="block in blockRows">
            <a ng-href="#/blocks/{{block.height}}" class="thumbnail" style="color:black">
                <div><h4>Block {{block.height}}</h4></div>
                <hr style="margin:5px">
                <div>Transactions: {{block.tx.length}}</div>
                <div style="text-align:right; margin:10px"><small><em>click for more details...</em></small></div>
            </a>
        </div>
    </div>
    <button type="button" class="btn btn-default" ng-click="blockCtrl.loadPrevious()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous 10
    </button>
</div>